@define-color drawing_color rgb(253, 185, 80);
@define-color background_color rgb(198, 158, 255);

GtkWindow{
    background-color: @background_color;
    color: black;
}

#frame_simulation{
    background-color:  @drawing_color;
    border: 3px Black;
    border-radius: 4px;
    border-style: solid;
    font: bold;
}

#frame_graphic{
    background-color:  white;
    border: 2px Black;
    border-radius: 4px;
    border-style: solid;
    border-radius: 4px;
}

#frame_normal{
    background-color: @background_color;
    border: 2px Black;
    border-radius: 2px;
    border-style: solid;
    border-radius: 2px;
}

#title{
    font: bold;
}
	     
#time_button{
    background-color: rgb(198, 15, 15);
}

GtkButton {
    color: black;
    border: 2px black;
    border-radius: 3px;
    border-style: solid;
}

GtkSpinButton {
    background-color: @drawing_color;
    color: black;
    border: 2px black;
    border-radius: 2px;
    border-style: outset;
}

GtkSpinButton:hover {
    background-color: Grey;
    color: black;
    border: 2px  black;
    border-style: solid;
}

GtkSpinButton:active {
    background-color: Black;
    color: White;
    border: 1px black;
    border-style: solid;
}
